# WordPress core files
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-admin/
/wp-includes/

# wp-content - ignore everything except our custom code
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
!wp-content/advanced-cache.php
!wp-content/autoptimize_404_handler.php
!wp-content/index.php

# But ignore all third-party plugins (we have none custom)
wp-content/plugins/*

# Ignore sample themes
wp-content/themes/twenty*/

# Ignore vendor dependencies in theme
wp-content/themes/sherman/mpdf/vendor/
wp-content/themes/sherman/mpdf/vendor_backup/
wp-content/themes/sherman/node_modules/

# ignore config file
wp-config.php

# Dependencies
node_modules/
package-lock.json
vendor/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore imagify files
/conf/imagify.conf
/imagify-backup
/imagify-backup/*

# ignore system files
.idea
docker/logs
robots.txt
/wp-content/themes/sherman/acf-json/*
wp-content/themes/.DS_Store
.DS_Store
